@font-face {
	font-family: "Ink";
	src: url('front/Ink.ttf');
}

*{
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

body{
    background-image: url(img/bg_bignose.png);
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

button{
    background-color: transparent;
    border: none;
}

input{
    background-color: transparent;
    border: none;
}

#main{
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #0000005b;
}

#header{
    display: flex;
}
#content{
    display: flex;
    height: 70vh;
}

#nickname_panel{
    text-align: center;
    flex: 1;
}

#logo{
    flex: 1;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

#play_button{
    cursor: pointer;
}


#play_button:focus, #nickname_input:focus{
    outline: none;
}

#nickname_box{
    min-width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.100);
    box-shadow: 2px 2px 3px 3px #0000005b;
    margin-left: 35%;
    margin-right: 35%;
}

#nickname_input{
    font-family: "Ink", Fallback, sans-serif;
    font-size: 20px;
    color: black;
    padding: 5px;
    width: 100%;
}

#nickname_panel{
    margin-top: 30%;
}

#main_page{
}