*{
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
body{
    background-image: url(img/bg_bignose.png);
    margin-top: 15vh;
    margin-left: 30vh;
    margin-right: 30vh;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #0000005b;
    display: flex;


}
#content{
    background-color: rgba(255, 255, 255, 0.100);
    width: 100%;
    height: 100%;
}
